
::selection {
  color:#EF8172;
  background:#324323;
}


/* Navigation */
@media only screen and (max-width:520px){
  .navigation-container {
    width:90%;
  }
}
@media only screen and (min-width:521px){
  .navigation-container {
    width:70%;
  }
}

.navigation-container {
  background:#ef8172;
  border-radius:4px;
  margin:5% auto;
  padding:0;
}

.navigation-container > div div {
  padding:1.7%;
}

.nav-link {
  color:#fff;
  transition:0.2s;
}

.nav-link.active {
  color:#324323;
  cursor:default;
}

.nav-link:hover:not(.active) {
  color:#32432390;
}

.nav-icon {
  font-size:1.7rem;
}



/* Tasks Container */
@media only screen and (max-width:520px){
  .task-container {
    width:80%;
  }
}
@media only screen and (min-width:521px){
  .task-container {
    width:37.5%;
  }
}

.task-container {
  border:0.4px solid lightgrey;
  border-radius:4.5px;
  box-shadow:2px 3px 10px lightgrey;
  margin:5% auto;
  padding:0;
}

.earlier-tasks-container {
  border:2px solid #EF8172;
  border-radius:6.5px;
  box-shadow:2px 3px 10px #EF817270;
  margin:5% auto;
  padding:0;
  position:relative;
}

.task-head {
  background:#ec5858;
  border-radius:4.5px;
  padding:2.4% 4% 0%;
  color:#f2f4c0;
}

.task-head > div p , .task-head div small {
  color:#fff;
}

/*Add task*/
.add-task-btn {
  background:#EF8172;
  border:none;
  border-radius:50%;
  height:50px;
  outline:none;
  position:absolute;
  right:1.3%;
  top:65px;
  transition:0.4s ease;
  width:50px;
}
.add-task-btn > i {
  color:#fff;
  font-size:1rem;
  position:relative;
}
.add-task-btn:focus {
  outline:none;
  border:none;
}
.add-task-btn:hover {
  background:#324323;
}
.add-task-btn:hover i {
  color:#EF8172;
}


/*Task List */
.task-list > ul{
  padding:0;
  cursor:pointer;
  list-style-type:none;
}
.task-list > ul li {
  background:#fff;
  font-family:calibri;
  font-size:1rem;
  margin-bottom:1%;
  padding:4% 2% 2% 4%;
}
.task-list > ul li:not(.task-list__li_completed):hover{
  background:#EF817215;
}
.task-list__li.task-list__li_completed {
  background:lightgreen;
  color:grey;
}
.task-list__li.task-list__li_completed .task-list-text::before {
  content:"✔";
  font-size:1.6rem;
  padding-right:4px;
  color:#EC5858;
}
.task-list__li.task-list__li_completed .task-list-text > span {
  text-decoration:line-through 3.6px #EF8172; 
}
.earlier-tasks-container .task-list > ul li {
  pointer-events:none;
}

/*Task Status*/
.task-status {
  border:none;
  border-radius:50%;
  color:#fff;
  height:60px;
  outline:none;
  position:absolute;
  right:1.3%;
  top:58px;
  transition:0.4s ease;
  width:60px;
}
.task-status > span {
  font-family:'Montserrat';
  font-weight:bolder;
  font-size:1.2rem;
  position:relative;
  top:25%;
}

/*GRAPH And Progress Bar*/
.six-day-graph-container {
  border-left:2px solid #EC5858;
  border-bottom:2px solid #EC5858;
  box-shadow:-2px 4px 6px lightgrey;
  width:80%;
}

.progress {
  background:#90EE9040; /*same color as progress-complete but a bit dimmer*/
  border:1.76px solid #90EE9070;
  height:40px;
  width:100%;
}
.progress-complete {
  background:#90EE90;
  border-radius:3.4px;
}

.graph-notation {
  width:20px;
  height:20px;
}
.adjust-top-left {
  transform:translate(-50%,-50%);
}
.center-element {
  top:50%;
  left:50%;
}
.circle {
  border-radius:50%;
}
.overall-task-blk {
  height:185px;
  position:relative;
  width:185px;
}
.overall-task-complete {
  position:absolute;
}
.overall-task-margin {
  width:121px; /* 65% width and height of .overall-task-blk */
  height:121px;
  position:absolute;
}

/*Color Scheme*/
.warning-bg {
  background:#FFA500
}
.warning-bg-fade {
  background:#FFA50040
}
.warning-border {
  border:1.76px solid #FFA50070;
}

.danger-bg {
  background:#FF0000
}
.danger-bg-fade {
  background:#FF000040
}
.danger-border {
  border:1.76px solid #FF000070;
}

.success-bg {
  background:#90EE90
}
.success-bg-fade {
  background:#90EE9040
}
.success-border {
  border:1.76px solid #90EE9070;
}

.danger-zone {
  background:#f05454;
}
.safe-zone {
  background:#54e346
}
.crictical-margin-border {
  border:3px solid #fffaa4;
}
.crictical-margin-border-dark {
  border:3px solid #ffc107;
}
/*
#90EE90 -success
#218838 -success
#E0A800 -warning
#FF0000 -danger
*/